.container--product__related-products--mobile {
  position      : relative;
  font-size     : 1.1em;
  padding-bottom: .45rem;
}

.container--product__related-products--mobile::before {
  content   : "";
  width     : 100%;
  height    : .25rem;
  background: black;
  position  : absolute;
  bottom    : -.063rem;
  left      : 0;
}

.paragraph--product__related-products--mobile {
  color: black;
}

@media (width >=640px) {
  .container--product__related-products--mobile {
    width: 13rem;
  }
}