.paragraph--minicart__remove {
  color    : black;
  font-size: .9em;
}

.paragraph--minicart__footer--taxes {
  font-size    : .8em;
  color        : black;
  margin-bottom: 1rem;
}

.paragraph--minicart__empty {
  font-weight: bold;
  font-size  : .8em;
  color      : black;
}